In [1]:
import pandas as pd

# Football Manager 24 Newgen Data Project

## 
Project description

    Football Manager 24 is a video game where the player acts as the manager (coach) of a football (soccer) team. The game is single player, and the player progresses through a simulated timeline in the world of football. There are matches, training, press confrences, staff meetings, player interactions, and more. Importantly, the player does not controll their players during matches. The players controll is limited to that of a real manager. One very important job the player has is recruitment. What players can the manager bring in to improve the team within the budget.
    Year by simulated year, as real players in the game get older and retire, the game generates new fake players. These players, called newgens, are generated in batches every simulated year, and are 15-16 years old. Finding and recruiting the newgens with the best attributes and most potential for improvement can be very tedious but rewarding.
    The objective of this project is to take lots of data from a batch of 1000+ newgens, and apply filters and track trends in addition to other things.

Project outline

    Step 1. Getting the data
        I can copy paste into a spreadsheet all of the data I want from the game. Then format the spreadsheet and read it into a pd.DataFrame.

    Step 2. What do I want to find
        a) Players with X total attributes
            find and list players whos total attributes sum up to at least X
             - additionally filter this for physical, mental, technical, or a select group of attributes
                 (exclude less important thing from the total like 'long throws')
                 (or just give it less weight toward the sum)
                 
        b) Players with X number of attributes that are minimum Y
            the purpose of this would be to find more specialized players. Players that dont meet (a) requirements, but have something 
            like 18 pace, 17 strength, 19 technique for example.
                - should exclude some attributes from this. it is common for bad players to still have very high agression, bravery, and 
                work rate ie.

        c) Some kind of bargain filter
            find players who would be less expensive
                - Primarily, fillter out players who's 'value' attribute is over a certain threshold
                - Also search for players who dont have a professional contract and can be approached for a free transfer.

In [2]:
# Read HTML file from Football Manager into a list, then convert list to dataframe

p_list = pd.read_html('file:///D:/lynch/Python/FM24_Proj/FM24_Data2.html', header = 0, encoding = "utf-8", keep_default_na = False)
p = p_list[0]

In [3]:
# Add a column for the sum of the players stats

p = p.assign(totals = p.Acc + p.Bal + p.Agi + p.Str + p.Sta + p.Pac + p.Nat + p.Jum + p.Bra + p.Ant + p.Agg + p.Cmp + p.Det + p.Dec + p.Cnt + p.Fla + p.Ldr + p.OtB + p.Pos + p.Vis + p.Wor + p.Tea + p.Cor + p.Cro + p.Dri + p.Fin + p.Fre + p.Hea + p.Fir + p.Lon + p['L Th'] + p.Mar + p.Pas + p.Pen + p.Tck + p. Tec)

# Sort player by total stats and print top 5

p = p.sort_values(by = 'totals', ascending = False)
print(p.iloc[0:20])

        Rec  Inf               Name  Acc  Bra  Bal  Ant  Agi  Agg  Cmp  ...  \
1991  - - -  Yth      Haroldo Pavas    9    7   13   10   13   15    9  ...
1910  - - -  Yth   Darlinson Bustos   12   14   11   15   11   14   10  ...
982   - - -  Wnt        Nuno Borges    9   15   16   12   11   17    8  ...
1249  - - -               Txus Ribó    9   12    8   12   10   15   12  ...
4840  - - -  Loa  Anderson Tourinho    9    9    9   14    8   10   10  ...
1830  - - -  Inj        Raúl Beitia   13    9   14    8   11   11   11  ...
4891  - - -                Mateusão   10    9    9   11   14   12   11  ...
67    - - -        Nicolás Zeballos    9   15   10    7   10   12    6  ...
1639  - - -  Yth     Miguel Justino   10   19   13   11   12   14    7  ...
330   - - -               Diego Paz    9    8   14   11   12   13   12  ...
1135  - - -           Drissa Traoré   12   13   10    9   13   14    9  ...
1044  - - -        Younes Belkhayat   13    9   12    9    9   12    7  ...
1388  - - -         Marcos Bermúdez   11    7   10    9   12   20    9  ...
1959  - - -  Yth    Islam Hammouche   12    8   15   12    9    8   10  ...
4647  - - -  Yth     Mikko Lindholm    9   18   10   12    9   17    9  ...
4546  - - -             Tomás Ávila    9   15   10   11   13   11   10  ...
50    - - -           Esteban Ramos   10   12    9   11   10   17   10  ...
1190  - - -  Inj      Kévin Lachaud    9   18    9   10   11   12    7  ...
1265  - - -  Yth   Daniel Teichmann    7    9   10   11    9   11   12  ...
1495  - - -           Oussama Thijs   10   10    7    9   10   13   12  ...

      Pos  Sta  Tck  Str  Tea  Tec  Vis  Wor  Transfer Value  totals
1991    7   11    4    8   13   16   15   10   €180K - €1.8M     392
1910   11   12   11   11   17   16   13   17   €750K - €1.5M     373
982     8   11    9    9   12   14   10   14              €0     371
1249    7   10    6    8   17   15   12   13    €20K - €200K     370
4840    9   12   13   10   17   13   10   17    €75K - €750K     369
1830    6    6    5    8    9   15   12   10   €150K - €1.5M     369
4891    8   12   12   11   18   10    9   13    €75K - €750K     364
67      9   13   12    8   11   12    6    9    €50K - €475K     362
1639   10   14   12    9   11   13    8   16   €900K - €1.9M     362
330     5   10    7    6    6   10   10   10    €85K - €850K     361
1135    8   14    9    9   17    9   10   13   €600K - €1.2M     360
1044    6   15    6    6   18   13    7   15    €10K - €100K     359
1388    9   16   13   11   10   12    8   14    €60K - €600K     358
1959   14   11   12   10   11   15    8    7   €210K - €600K     357
4647    7   11    2    9   18   15    6   15   €110K - €1.1M     357
4546    9   12   10   10   18   15    9   13    €35K - €350K     357
50      8   11   13    8   10   14    8   10   €950K - €1.9M     356
1190   11   13   12    9   15   10    9   11   €550K - €1.5M     355
1265    9    9    8    7   15   16   11   12   €250K - €700K     355
1495    5    9    7    9    9   11   13    8   €130K - €1.3M     354

[20 rows x 41 columns]

In [4]:
# Add colums for total stats divided into physical, mental, and technical stats

p = p.assign(physical_totals = p.Acc + p.Bal + p.Agi + p.Str + p.Sta + p.Pac + p.Nat + p.Jum)

p = p.assign(mental_totals = p.Bra + p.Ant + p.Agg + p.Cmp + p.Det + p.Dec + p.Cnt + p.Fla + p.Ldr + p.OtB + p.Pos + p.Vis + p.Wor + p.Tea)

p = p.assign(technical_totals = p.Cor + p.Cro + p.Dri + p.Fin + p.Fre + p.Hea + p.Fir + p.Lon + p['L Th'] + p.Mar + p.Pas + p.Pen + p.Tck + p. Tec)

In [5]:
# Create copy of our dataframe without certain columns

p_focused = p
p_focused.drop(['L Th', 'Bra', 'Agg', 'physical_totals', 'mental_totals', 'technical_totals', 'Rec', 'Inf'], axis = 1, inplace = True)

# Remove players that do not have three attributes >= 15

counter = 0
attributes_to_check = ['Acc', 'Bal', 'Agi', 'Str', 'Sta', 'Pac', 'Nat', 'Jum', 'Ant', 'Cmp', 'Det', 'Dec', 'Cnt', 'Fla', 'Ldr', 'OtB', 'Pos', 'Vis', 'Wor', 'Tea', 'Cor', 'Cro', 'Dri', 'Fin', 'Fre', 'Hea', 'Fir', 'Lon', 'Mar', 'Pas', 'Pen', 'Tck', 'Tec']
rows_to_drop = []

for i in range(0, len(p_focused.index)):

    for attribute in attributes_to_check:

        if p_focused.iloc[i][attribute] >= 16:

            counter += 1
            
    if counter < 3:

        rows_to_drop.append(i)

    counter = 0

p_focused.drop(rows_to_drop, axis = 0, inplace = True)

print(p_focused)

                    Name  Acc  Bal  Ant  Agi  Cmp  Dri  Det  Dec  Cro  ...  \
1120    Ole-Martin Olsen   10   12   10   11    9    5   13   10    8  ...
3           Slađan Mitić   11    9   10   11    7    6   15   11    5  ...
64           Oscar Pérez   10    8    9   12   10    8   14   12    5  ...
312        Dylan Shearer    8    8   12    9    7    6   15   15    6  ...
2884      Christian Buur   14    9    8   14   12   10   13   13    9  ...
66       Lucas Algañaraz    7   14    9    6    6    9   10   11    4  ...
106       Philipp Röcker    8    8    8   10   10    5   12    9    6  ...
734         Ricki Pilbro    7    8    8    9    9    6   12   12    4  ...
363   Patricio Marinelli   12   13    8   10    6   10   14   10    9  ...
48      Lisandro Schmidt   13    8    8   11    9   15   11    9   10  ...
725    Noa Van Den Bosch   15   13    6   13    5   13   12    6   12  ...
2004       Steffen Bähre    8   11    8   11    9    3   13   10    4  ...
91        Matías Sánchez    9   12    6   10    6   14    9    5    7  ...
3437        Davey Koeman    8   12    8    5   10    7   17   14    5  ...
4326       Diego Gaudino    7    4    8    9    7    7    9    6    5  ...
2265               Jorge    7    7    6    7    6    4   15   10    6  ...
2509               Feliu    8    7   10    8    5    3   11    8   11  ...
538    Knut-Eirik Fuglår   13    5   10    8    7    8    5    7    6  ...
401        Scott Hancock   11   12    6   10    6   10    5    6    7  ...
1491       Elias Chamoun   13    5    6   11    7    5   12    7    6  ...
0          Charles Mendy    7    4    7    9   10    7   11    5    5  ...
29      Franco Iribarren    4    5    9    7    5    2   15   13    6  ...
137      Yannick Ngassam    6   13    8    6    4    6   13    9    7  ...
1       Claudio Ferreyra   11    4    7    8    5    7    6   11    7  ...
647        Mickaël Dumas    5    9    8    6    9    8    8    5    4  ...
270            Luca Vock   12    6    7   12    6    7    5    5    8  ...
2065        Jesús Laínez   13   12    7   11    3    4   17   11    5  ...
76      Csongor Szekeres   12    6    6    8    9    5    5    7    4  ...
146         Louis Camara    8    5    6    8    4    4   16    7    5  ...
305            Tom Risch    4    5    6    7    3    5   10   10    6  ...
617        Yannick Moser    3    9    7    9    4    3    8   13    2  ...

      Pos  Sta  Tck  Str  Tea  Tec  Vis  Wor  Transfer Value  totals
1120   15   12   14    9   10   12    8   13   €170K - €1.7M     349
3       9   11   16    9   16   12    8   11    €85K - €850K     346
64      5   12    7    7    8   16   12    9   €650K - €1.3M     324
312    10   11   15   11   14   12    8    9              €0     323
2884    4   13    3    4    8   14    5   13     €200K - €2M     318
66     11    9    5    5   11   15   12   12   €160K - €1.6M     312
106     6    9    6    5   11   14    7   13    €20K - €210K     298
734     7    8    8    6   13   14   14    9    €65K - €650K     298
363     6   10    5    6   17   12    4   13    €35K - €325K     295
48      5   12    4    4    7   12    6    8   €450K - €1.3M     284
725     1    9    3    3    7   12    5   12   €110K - €1.1M     278
2004    6   10    6   13    8    9    9   13       €0 - €60K     273
91      4   11    3    4    8    9    8    6    €26K - €275K     271
3437    6    6    4    3   10   11   10    9              €0     270
4326    4   12    5    5   14   11    6   16              €0     269
2265    7   10   11    8   11    8    6   14    €1.5K - €14K     269
2509    6    9    9    1   12    8    6   13              €0     265
538     3    8    4    3    5   10    6    6        €0 - €2K     258
401     3    7    3    4    7   13    7    7     €35K - €95K     255
1491    6   11    9    6    7   11    5   11     €30K - €90K     252
0       5    4    6    3    8   10   11    7              €0     252
29     12   10   12    4    7    8    2    5              €0     249
137    10    7    7    5   10    5    5    6              €0     249
1       2    7    2    5    5   15    5   10    €30K - €300K     248
647     3    9    3    4   18    8    6   14              €0     247
270     3    9    7    4   16   11    6   12     €30K - €85K     244
2065    6    8    4    4    8    6    4    9      €3K - €28K     241
76     10    6    8    7   14    7    4    9       €1K - €8K     236
146     8   14    5    5    9    8    3   14              €0     233
305     5    5    6    6   14    8    3    9              €0     225
617     8    4    2    4    5    6    8    5              €0     178

[31 rows x 36 columns]